.features{

padding:120px 8%;

text-align:center;

color:white;

}

.features h2{

font-size:3rem;

margin-bottom:70px;

background:linear-gradient(
90deg,
#60a5fa,
#8b5cf6
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:35px;

}

.card{

padding:40px;

border-radius:24px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

transition:.45s;

position:relative;

overflow:hidden;

}

.card::before{

content:"";

position:absolute;

inset:0;

background:linear-gradient(
135deg,
rgba(59,130,246,.15),
rgba(147,51,234,.15)
);

opacity:0;

transition:.4s;

}

.card:hover::before{

opacity:1;

}

.card:hover{

transform:translateY(-12px);

box-shadow:0 15px 45px rgba(59,130,246,.25);

}

.card svg{

font-size:55px;

margin-bottom:25px;

color:#60a5fa;

transition:.5s;

}

.card:hover svg{

transform:rotate(15deg) scale(1.2);

color:#a855f7;

}

.card h3{

font-size:26px;

margin-bottom:18px;

position:relative;

z-index:2;

}

.card p{

color:#cbd5e1;

line-height:1.8;

position:relative;

z-index:2;

}