.hero{

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:140px 8% 80px;

color:white;

position:relative;

overflow:hidden;

}

.left{

width:52%;

z-index:2;

}

.left h1{

font-size:68px;

line-height:1.1;

font-weight:800;

margin-bottom:25px;

}

.left h1 span{

background:linear-gradient(
90deg,
#60a5fa,
#8b5cf6,
#06b6d4
);

background-size:300%;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:gradientMove 6s infinite linear;

}

@keyframes gradientMove{

0%{

background-position:0%;

}

100%{

background-position:300%;

}

}

.left p{

font-size:20px;

line-height:1.8;

color:#cbd5e1;

margin-bottom:40px;

max-width:550px;

}

.left button{

padding:18px 40px;

border:none;

border-radius:60px;

font-size:18px;

font-weight:600;

cursor:pointer;

background:linear-gradient(
90deg,
#2563eb,
#9333ea
);

color:white;

transition:.4s;

}

.left button:hover{

transform:translateY(-5px) scale(1.04);

box-shadow:0 0 35px rgba(59,130,246,.5);

}

.right{

width:42%;

display:flex;

justify-content:center;

}

.right img{

width:100%;

max-width:520px;

border-radius:30px;

animation:floatImage 4s ease-in-out infinite;

box-shadow:
0 25px 80px rgba(59,130,246,.35);

}

@keyframes floatImage{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0);

}

}

.hero::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:#2563eb;

filter:blur(180px);

opacity:.22;

top:-180px;

right:-100px;

}

.hero::after{

content:"";

position:absolute;

width:420px;

height:420px;

background:#9333ea;

filter:blur(180px);

opacity:.18;

bottom:-150px;

left:-120px;

}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}

.left,
.right{

width:100%;

}

.left h1{

font-size:46px;

}

.right{

margin-top:60px;

}

}